.article-list {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 2%;
  z-index: 5;

  .article-box {
    display: inline-block;
    width: auto;
    transition: all 0.25s ease;
    background-color: #ffffff;

    &:hover {
      cursor: pointer;
    }

    .right {
      padding: 30px;
      color: #3c4856;

      .meta {
        font-size: 0.7rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .article-list {
    grid-template-columns: 100%;
  }
}
